.summary{text-align: right;background:transparent;box-shadow: none!important;}

.btn-gradient-red,.btn-black{
    min-width:145px;height:42px
}

.font-style{
    font-weight: 400; font-size: 1rem; margin: 0;
}